@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
body {
  margin: 0;
  font-family: "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/plane.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gainsboro;
}
h1,h2{
  color: white;
}
span{
  color: red;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  background-color: red;
  color: white;
}